.old
.old1
.old2
.old3
config.json
__init__/
__pycache__/
.vscode/
*report.html
venv/
.idea/
static/images/bandplan.svg
cfg/bands_output.json
cfg/modes_output.json
data/visit.json
scripts/bands.pl
.bck
