attrs==22.1.0
certifi @ file:///opt/conda/conda-bld/certifi_1655968806487/work/certifi
charset-normalizer==2.1.0
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cycler==0.11.0
docopt-ng==0.8.1
easywatch==0.0.5
Fiona==1.8.21
Flask==2.2.1
Flask-Minify==0.39
Flask-WTF==1.0.1
fonttools==4.34.4
geopandas==0.11.1
htmlmin==0.1.12
idna==3.3
importlib-metadata==4.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsmin==3.0.1
kiwisolver==1.4.4
lesscpy==0.15.0
MarkupSafe==2.1.1
matplotlib==3.4.0
munch==2.5.0
mysql-connector-python==8.0.30
numpy==1.23.1
packaging==21.3
pandas==1.4.3
patsy==0.5.2
Pillow==9.2.0
ply==3.11
protobuf==3.20.2
pyparsing==3.0.9
pyproj==3.3.1
python-dateutil==2.8.2
pytz==2022.1
rcssmin==1.1.1
requests==2.28.1
scipy==1.9.0
Shapely==1.8.2
six==1.16.0
staticjinja==4.1.3
statsmodels==0.13.2
urllib3==1.26.11
watchdog==2.1.9
Werkzeug==2.2.1
WTForms==3.0.1
xxhash==3.0.0
zipp==3.8.1
