.badge-responsive {
	  width: 70px;
}

@media screen and (max-width: 768px) {
	  .text-responsive {
		    font-size: 11px;
	    }
	    .badge-responsive {
		      width: 40px;
	    }

}

@media screen and (max-width: 768px) {
	#collapseFilters.collapsing {
		position: absolute !important;
		z-index: 20;
	}

	#collapseFilters.collapse.show {
		display: block;
		position: absolute;
		z-index: 20;
	}
	
	.navbar-collapse {
		max-height: none !important;
	} 
}

.img-flag {
//	width: 80%;
        background-color: white;
//        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border: 1px solid #ddd;
        border-radius: 2px;
        padding: 3px;
	background-size:cover !important;
	max-width: auto; 
	max-height: auto; 
	height: 19px !important; 
	width: 32px !important;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
    -o-box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
}

.ipcs {
	background-image: url("/static/images/background.webp");
	background-size: cover;
	background-repeat: no-repeat;
}

span.filter {
    background: url(/static/images/filter.svg) no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    width: 20px;
}

i.search {
    background: url(/static/images/search.svg) no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: bottom;
}

i.search:hover {
    background: url(/static/images/search_hover.svg) no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: bottom;
}

.copyleft {
	  display: inline-block;
	    transform: rotate(180deg);
    }

span.search-callsign {
    background: url(/static/images/search-callsign.svg) no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    width: 20px;
}

#input-group-callsign {
	margin-right: 1rem; 
	margin-bottom: 0.5rem;
}

#collapseFilters {
	margin-top: 10px;
	background-color: #DAF7EF; 
}

#spotsTable {
	margin-top: 10px;
}

#band {
	margin-top: 5px;
}
