@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@font-face {
	font-display: swap;
	font-family: 'bootstrap-icons';

}

.badge-responsive {
	width: 70px;
}

@media screen and (max-width: 768px) {
	.text-responsive {
		font-size: 12px;
	}

	.badge-responsive {
		width: 40px;
	}
}

@media screen and (max-width: 768px) {
	#collapseFilters.collapsing {
		position: absolute !important;
		z-index: 20;
	}

	#collapseFilters.collapse.show {
		display: block;
		position: absolute;
		z-index: 20;
	}

	.navbar-collapse {
		max-height: none !important;
	}
}

.img-flag {
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 3px;
	background-size: cover !important;
	max-width: auto;
	max-height: auto;
	height: 19px !important;
	width: 32px !important;
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
	-o-box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
	box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
}


.ipcs {
	background-image: url("/static/images/background.webp");
	background-size: cover;
	background-repeat: no-repeat;
}

.copyleft {
	display: inline-block;
	transform: rotate(180deg);
}

span.search-callsign {
	background: url(/static/images/search-callsign.svg) no-repeat top left;
	background-size: contain;
	cursor: pointer;
	display: inline-block;
	height: 16px;
	width: 20px;
}

#input-group-callsign {
	margin-right: 1rem;
	margin-bottom: 0.5rem;
}

#collapseFilters {
	margin-top: 10px;
	background-color: #DDE2E6;
}

#spotsTable {
	margin-top: 10px;
}

#band {
	margin-top: 5px;
}

#dashboard {
	padding: 10px;
	gap: 10px;
}

#telnet-thead {
	position: sticky;
	top: 0
}

#chart-band_activity {
	width: 100%;
	height: 400px;
}

.spider_chart {
	width: 600px;
	height: 480px;
}

#silo-propagation-img {
	width: 95%;
	height: auto; 
}