<!DOCTYPE html>
<html lang="en">

<head>
	{% block title %}
	{% endblock title %}
	{% block head %}
	<meta charset="utf-8">
	<meta name="description" content="Web Ham Radio DX Cluster and spot search">
	<meta name="author" content="Corrado Gerbaldo - IU1BOW">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#2196f3">
	<link rel="icon" href="/static/images/icons/favicon.ico">
	<link rel="icon" href="/static/images/icons/spider_ico_master.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/static/images/icons/icon-apple.png">
	<link rel="manifest" href="/static/pwa/manifest.webmanifest">
	<link rel="stylesheet" href="/static/css/rel/style.min.css">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
		integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous">
	<!-- Flag Icon CSS -->		
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/7.2.0/css/flag-icons.min.css"
		integrity="sha512-bZBu2H0+FGFz/stDN/L0k8J0G8qVsAL0ht1qg5kTwtAheiXwiRKyCq1frwfbSFSJN3jooR5kauE0YjtPzhZtJQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!--  Tom-Select CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" 
		integrity="sha384-dC18+guBm9Lk5IBQfkKIOw2YSxXWMsiuPfIOZNPilutZQn6MgBvcx+vejNQYlrbc" 
		crossorigin="anonymous" referrerpolicy="no-referrer">		
	{% endblock head %}
</head>

<body>
	<header>
		{% block menu %}
		<!-- nav bar -->
		<nav class="navbar px-2 navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">
					<img src="/static/images/icons/icon-72x72.png" width="30" height="30"
						class="d-inline-block align-top" alt="">
					{{ mycallsign }}
				</a>
				<button class="navbar-toggler" type="button" aria-controls="navbarToggler01" aria-expanded="false"
					aria-label="Toggle navigation" data-bs-toggle="collapse" data-bs-target="#navbarToggler01">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarToggler01">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						{% for dict_item in menu_list %}
						<li class="nav-item">
							<a class="nav-link  {% if request.path == dict_item["link"] %} active {% endif %}" href="{{dict_item['link']}}"
								{% if dict_item['external'] %} 
									target="blank" rel="noopener" 
								{% endif %} 
							>{{dict_item["label"]}}<span class="sr-only"></span></a>
						</li>
						{% endfor %}
					</ul>
					<div id="MyClockDisplay" class="text-white-50 d-none d-lg-block"></div>
					<div class="text-white-50 d-none d-lg-block">&nbsp;(UTC)&nbsp;&nbsp;</div>
					{% block callsign %}
					<form method="POST" class="d-flex" id="form-callsign" enctype="application/x-www-form-urlencoded">
						<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
						<div class="input-group" id='input-group-callsign'>
							<input type="text" class="form-control" placeholder="callsign" aria-label="callsign"
								aria-describedby="button-addon2" id="callsignInput">
							<div class="input-group-append">
								<button id="btn-callsign-search" class="btn btn-secondary" type="submit">
									<span class="bi-search" role="button" aria-label="search-callsign"></span>
								</button>
							</div>
						</div>
					</form>
					{% endblock callsign %}
				</div>
			</div>
		</nav>
		{% endblock menu %}
	</header>
	<div class="container-fluid mt-1 ml-0 mr-0 px-0">
		<div class="ipcs bg-light p-4 rounded-lg m-2">
			{% block titles %}
			{% endblock %}
			<p class="text-light">Telnet access: <a href="telnet://{{ telnet }}" class="text-white">{{ telnet }}</a></p>
			<p class="text-light">For connect your cluster, write to <a
					href="mailto:{{ mail }}?Subject=Connect%20my%20DxCluster%20node" target="_top" class="text-white">{{
					mail }}</a></p>
		</div>
		{% block filters %}
		{% endblock filters %}
		{% block contents %}
		{% endblock contents %}
	</div>

	<footer class="page-footer font-small blue">

		<hr class="hr" />	
		<div class="text-center ">
			<span class="bi-person-up" role="button" aria-label="funnel-fill"></span>			
			Website unique visits: <strong>{{ visits }}</strong>
		</div>		
				
		<div class="footer-copyright text-center py-3">
			<span class="copyleft">&copy;</span> Copyleft:
			<span id="copyDate"></span>
			&nbsp;
			<a href="https://github.com/coulisse/spiderweb/" target="blank" rel="noopener">IU1BOW - Spiderweb</a>
			&nbsp;
			<span id="version">v2.5.4</span>
		</div>					
	</footer>
	<script async src="static/js/rel/load-sw.min.js"></script>
	<script nonce="{{ inline_script_nonce }}">
		{% block app_data %}
		var my_callsign = '{{mycallsign}}';
		{% endblock app_data %}
	</script>
	<script defer src="static/js/rel/common.min.js"></script>

	<!-- Bootstrap -->
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"
		integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg=="
		crossorigin="anonymous"></script>

	<!-- Tom-select library -->
	<script defer src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js" 
		integrity="sha384-cnROoUgVILyibe3J0zhzWoJ9p2WmdnK7j/BOTSWqVDbC1pVw2d+i6Q/1ESKJKCYf" 
		crossorigin="anonymous"></script>
	</body>
	{% block app_scripts %}
	<script async src="static/js/rel/callsign_search.min.js"></script>
	{% endblock app_scripts %}
	{% block inline_scripts %}
	{% endblock inline_scripts %}
	<!-- Back to top button -->
	<button type="button" class="btn btn-secondary btn-floating btn-lg" id="btn-back-to-top">
		<i class="bi bi-arrow-up"></i>
	</button>
</body>

</html>