{% extends "_base.html" %}

<head>
  {% block title %}
  <title>DX Cluster from IU1BOW: Cookies</title>
  {% endblock %}
  {% block head %}
  {{ super() }}
  {% endblock %}
</head>
{% block titles %}
<h1 class="display-4 text-white">COOKIES</h1>
<p class="lead text-light">WEB DX Cluster For HAM Radio</p>
{% endblock %}
{% block filters %}
{% endblock %}
{% block contents %}
<div class="col mr-3 px-2">


    <h1>What Are Cookies?</h1>
    <p>Cookies, also known as internet cookies, are small text files that websites generate and send to your web browser when you visit them. These cookies serve various purposes and play a crucial role in enhancing your browsing experience.</p>
    <p>They can be categorized based on their lifespan and origin:</p>
    <ul>
        <li><strong>Session Cookies:</strong> Exist only during your browsing session and are deleted when you close your browser.</li>
        <li><strong>Persistent Cookies:</strong> Remain on your device for a specified period (e.g., days, months, or years).</li>
        <li><strong>First-Party Cookies:</strong> Set by the website you're currently visiting.</li>
        <li><strong>Third-Party Cookies:</strong> Set by external domains (e.g., advertisers, analytics services) embedded in the website.</li>
    </ul>

    <h1>Strictly Necessary Cookies</h1>
    <p>Strictly necessary cookies (also known as essential cookies) are essential for the basic functioning of a website. They ensure a seamless consumer experience and data security. These cookies do not track user behavior for analytics or advertising purposes.</p>
    <p>Examples of what strictly necessary cookies do:</p>
    <ul>
        <li>Authentication: Verify consumer identities and provide secure account access.</li>
        <li>Session Management: Maintain consumers' browsing activities in a single session.</li>
        <li>Security: Protect the site and consumers from malicious activities.</li>
        <li>Consumer Interface Preferences: Remember choices like language or font size.</li>
    </ul>

    <div class="alert alert-info mt-4">
        <strong>Cookie Disclaimer:</strong> This website uses <em><strong>strictly necessary technical cookies</strong></em> to enhance your browsing experience. These cookies are essential for the proper functioning of the site and do not track or store any personal information. By continuing to use this website, you consent to the use of these cookies.
    </div>



</div>
{% endblock %}
{% block app_data %}
{% endblock %}
{% block app_scritps %}
{% endblock %}