 <!DOCTYPE html>
 <html lang="en">
     <head>
        <title>DX Cluster / DX Spot for Hamradio</title>
        <meta charset="utf-8">
        <meta name="description" content="Amateur Radio DX Cluster online, iPhone, Android, Telnet, spots search">
        <meta name="keywords" content=", ham radio dx cluster, telnet dx cluster, hf dx cluster, dx cluster search, vhf dx cluster, dxfun, dx cluster live, DX spots, dxfuncluster, dxfun cluster, cluster, radio, dx, ham cluster, webcluster, dxcc, iPhone cluster, dx cluster, dx info, locators, grid squares, grid locator, locator, cq, itu, qrz, entity, most wanted, callbook, qrz.com, ham radio, dx contest, amateur radio, spots, search spot, spot, cluster en tu web, lotw, log of the word, propagacion, ham, reportes, reports, propagation, bandas, band, ssb, cw, usb, lsb, fm, am, rtty, psk, psk31, qsl, qth, qso, real time spots, spots en tiempo real, dx spot, dx spots, qsl manager, qsl via, wpx, cqwwdx, iPhone Cluster"> 
        <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
	<meta name="theme-color" content="#2196f3">
	<link rel="shortcut icon" href="/static/favicon.png">  
	<link rel="manifest" href="/static/manifest.json">
	<link rel="apple-touch-icon" href="/static/images/icons/icon-apple.png">
	<link rel="stylesheet" href="/static/css/min/style.min.css"> 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
	<!--
	<link rel="dns-prefetch" href="https://www.countryflags.io">

	-->
     </head>
     <body>
	<header>
	<!-- nav bar -->
		<nav class="navbar px-2 navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/">
				<img src="/static/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
				{{ mycallsign }}
			</a>	
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler01" aria-controls="navbarToggler01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
	        </button>
 			<div class="collapse navbar-collapse" id="navbarToggler01">
				<ul class="navbar-nav mr-auto">
					{% for dict_item in menu_list %}
						<li class="nav-item">
							<a class="nav-link  {% if request.path == dict_item["link"] %} active {% endif %}" href="{{dict_item["link"]}}"  
								{% if dict_item["external"] %} 
									target="blank" rel="noopener" 
								{% endif %} 
							>{{dict_item["label"]}}<span class="sr-only"></span></a>
						</li>
					{% endfor %}
				</ul>
				<form method="POST" class="form-inline"  id="form-callsign" enctype="application/x-www-form-urlencoded" >	
					<div class="input-group" id='input-group-callsign'>
  						<input type="text" class="form-control" placeholder="callsign" aria-label="callsign" aria-describedby="button-addon2" id="callsignInput" >
						<div class="input-group-append">
							<button class="btn btn-secondary" type="submit" onclick="myCallsignSearch()" formaction='javascript:myCallsignSearch();'>
								<span class="search-callsign" aria-label="search-callsign"></span>
							</button> 
						</div>
					</div>
		    		</form>	
	        </div>
		</nav>
	</header>
	     <!-- <div class="mt-1 ml-0 mr-0"> -->
	     <div class="container-fluid mt-1 ml-0 mr-0 px-0">
			<div class="ipcs bg-light p-4 rounded-lg m-2">
				<h1 class="display-4 text-white">WEB DX Cluster</h1>
				<p class="lead text-light">Spots list</p>
				<p class="text-light">Telnet access: <a href="telnet://{{ telnet }}" class="text-white">{{ telnet }}</a></p>
				<p class="text-light">For connect your cluster,  write to <a href="mailto:{{ mail }}?Subject=Connect%20my%20DxCluster%20node" target="_top" class="text-white">{{ mail }}</a></p>
			</div>
			<div class="row mx-auto justify-content-between align-middle">
				<div class="mx-auto">
					<button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" aria-label="filter">
						<span class="filter" aria-label="filter"></span>
					</button>
				</div>
			</div>
			<div class="row  mx-auto">
					 <!--Sidebar content-->
                <div class="col-md-auto collapse rounded-sm" id="collapseFilters">
                  <form method="POST" id="form-filters" enctype="multipart/form-data">	
		     	<select class="form-select" id="band" size="14" multiple>
				<option selected value="SHF">SHF</option>
				<option selected value="UHF">UHF</option>
				<option selected value="VHF">VHF</option>
				<option selected value="6">6m</option>
				<option selected value="10">10m</option>
				<option selected value="12">12m</option>
				<option selected value="15">15m</option>
				<option selected value="17">17m</option>
				<option selected value="20">20m</option>
				<option selected value="30">30m</option>
				<option selected value="40">40m</option>
				<option selected value="60">60m</option>
				<option selected value="80">80m</option>
				<option selected value="160">&gt;160m</option>
			</select>
			<p></p>
			<div class="row">
				<b>Mode</b>
			</div>
		     	<select class="form-select" id="mode" size="3" multiple>
				<option selected value="cw">CW</option>
				<option selected value="phone">PHONE</option>
				<option selected value="digi">DIGI</option>
			</select>
			<p></p>
                     	<div class="container"><div class="row"><div class="col"><b>DE</b></div><div class="col"><b>DX</b></div></div></div>
		<div class="row">
			<div class="col">
			 	<select class="form-select" id="de_re" size="7" multiple>
					<option selected value="EU">EU</option>
					<option selected value="NA">NA</option>
					<option selected value="AS">AS</option>
					<option selected value="AF">AF</option>
					<option selected value="OC">OC</option>
					<option selected value="SA">SA</option>
					<option selected value="AN">AN</option>
				</select>
			</div>
			<div class="col">
				<select class="form-select" id="dx_re" size="7" multiple>
					<option selected value="EU">EU</option>
					<option selected value="NA">NA</option>
					<option selected value="AS">AS</option>
					<option selected value="AF">AF</option>
					<option selected value="OC">OC</option>
					<option selected value="SA">SA</option>
					<option selected value="AN">AN</option>
				</select>
			</div>
		</div>
		<p></p>
		<button type="submit" class="btn btn-primary btn-block"  aria-pressed="true" data-toggle="collapse" data-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" aria-label="filter">Search</button>
	    </form>	
	 </div>
	 <!-- table -->
               <div class="col">
			<table id="spotsTable" class="table table-striped table-sm text-responsive table-borderless table-hover">
				<thead>
					<tr>
					<th>DX De</th>
					<th>Freq</th>
					<th>DX</th>
					<th></th>
					<th class="d-none d-lg-table-cell d-xl-table-cell">Country</th>
					<th class="d-none d-lg-table-cell d-xl-table-cell">Comments</th>
					<th>UTC Time</th>
					</tr>
				</thead>
				<tbody id="bodyspot">					
				</tbody>
			</table>
               </div>
            </div>
	     </div>
	     <footer class="page-footer font-small blue">
		     <div class="footer-copyright text-center py-3">2020 <span class="copyleft">&copy;</span> Copyleft:
			     <a href="https://github.com/coulisse/spiderweb/" target="blank" rel="noopener">IU1BOW Spiderweb</a>
	       </div>
			<script  src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?thirdparty=1&always=1&showPolicyLink=1&remember=365" crossorigin="anonymous"></script>
	     </footer>
	     
	<script async  src="static/js/min/load-sw.min.js"></script>
	<script>
		var my_countries_json='{{ country_data|tojson|safe }}';
		var payload_json={{payload|tojson|safe}};
		var timer_interval_json = {{timer_interval}};
	</script>
	<script defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
	<script defer src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>
	<script defer src="static/js/min/application.min.js"></script>
	<script defer src="static/js/min/index_inline.min.js"></script>
     </body>
 </html>
