{% extends "_base.html" %}


<head>
	{% block title %}
	<title>Spiderweb: OFFLINE</title>
	{% endblock %}
	{% block head %}
	{{ super() }}
	{% endblock %}
</head>


{% block titles %}
<h1 class="display-4 text-white">WEB DX Cluster</h1>
<p class="lead text-light">Missing connection &nbsp<i class="bi-wifi-off"></i></p>
{% endblock %}
{% block filters %}
{% endblock %}
{% block contents %}
<div class="jumbotron alert" role="alert">
	<h2 class="display-4">No internet connection</h2>
	<p class="lead">The features in this area require Internet connectivity. Please connect your computer to the
		Internet</p>
	<p class="lead">
		<a class="btn btn-primary btn-lg" href="/" role="button">Try again</a>
	</p>
</div>
{% endblock %}
{% block app_data %}
{% endblock %}
{% block app_scritps %}
{% endblock %}
{% block cookie %}
{% endblock %}