<!DOCTYPE html>
<html lang="en">
<head>
  <title>Some plots from the dx clustes node</title>
  <meta charset="utf-8">
  <meta name="KEYWORDS" content="Graph, plots, statistics">
  <meta name="description" content="some informations about this dx cluster node">
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
  <meta name="theme-color" content="#2196f3">
  <link rel="shortcut icon" href="/static/favicon.png">
  <link rel="manifest" href="/static/manifest.json">
  <link rel="stylesheet" href="/static/css/min/style.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
</head>
<body>
  <header>

	<!-- nav bar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/">
				<img src="/static/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
				{{ mycallsign }}
			</a>	
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler01" aria-controls="navbarToggler01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
	        </button>
 			<div class="collapse navbar-collapse" id="navbarToggler01">
				<ul class="navbar-nav mr-auto">
					{% for dict_item in menu_list %}
						<li class="nav-item">
							<a class="nav-link  {% if request.path == dict_item["link"] %} active {% endif %}" href="{{dict_item["link"]}}"  
								{% if dict_item["external"] %} 
									target="blank" rel="noopener" 
								{% endif %} 
							>{{dict_item["label"]}}<span class="sr-only"></span></a>
						</li>
					{% endfor %}
				</ul>
                              <form class="form-inline"  id="form-callsign" enctype="application/x-www-form-urlencoded" >
                                        <div class="input-group" id='input-group-callsign'>
                                                <input type="text" class="form-control" placeholder="callsign" aria-label="callsign" aria-describedby="button-addon2" id="callsignInput" >
                                                <div class="input-group-append">
                                                        <button class="btn btn-secondary" type="submit" onclick="myCallsignSearch()" formaction='javascript:myCallsignSearch();'>
                                                                <span class="search-callsign" aria-label="search-callsign"></span>
                                                        </button> 
                                                </div>
                                        </div>
                                </form> 

	        </div>
		</nav>
  </header>
  <main>
    <!-- jumbotron -->
    <div class="container-fluid mt-1 ml-0 mr-0 px-0">
       <div class="ipcs bg-light p-5 rounded-lg m-2">
        <h1 class="display-4 text-white">PLOTS</h1>
        <p class="lead text-light">Some statistics about this node</p>
        <p class="text-light">Telnet access: <a href="telnet://dxcluster.iu1bow.it:7300" class="text-white">dxcluster.iu1bow.it 7300</a></p>
        <p class="text-light">For connect your cluster, write to <a href="mailto:corrado.gerbaldo@gmail.com?Subject=Connect%20my%20DxCluster%20node" target="_top" class="text-white">corrado.gerbaldo@gmail.com</a></p>
      </div>
    </div>
    <div class="col mr-3" id="plotlist"></div>
  </main>
  <footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">
      2020 <span class="copyleft">©</span> Copyleft: <a href="https://github.com/coulisse/spiderweb/" target="blank" rel="noopener">IU1BOW Spiderweb</a>
    </div>
      <script  src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?thirdparty=1&always=1&showPolicyLink=1&remember=365" crossorigin="anonymous"></script>
  </footer>
  <script async src="static/js/min/load-sw.min.js">
  </script> 
  <script>

        var payload_json={{payload|tojson|safe}};
        var timer_interval_json = {{timer_interval}};
  </script> 
  <script defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous">	  
  </script> 
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>
  <script defer src="static/js/min/application.min.js">
  </script> 
  <script defer src="static/js/min/plot_inline.min.js">
  </script>
</body>
</html>
